<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>班级圈-关于我们</title>
		<link rel="stylesheet" href="../static/css/style7.css">
	</head>
	<body>
		<header>
			<a href="../index.html" id="logo">
				<div class="logo_img">
					<img src="../static/img/logo.png" id="logo_img" alt="logo" />
				</div>
				<div id="logo_text">
					<div id="logo_text_ch">
						&nbsp;人大附通·北京学校 2023级四班 班级圈
					</div>
					<div id="logo_text_en">
						&nbsp;&nbsp;Grade 2023 Class 4 - Class Net
					</div>
				</div>
			</a>
			<div class="header_buttons">
				<span class="new">
					<a href="./new_discuss.html" target="_blank">
						<img src="../static/img/new_discuss_ico.png" alt="新建文章" id="new" />
					</a>
				</span>
				<span class="search">
					<a href="./search_discuss.html" target="_blank">
						<img src="../static/img/search_discuss_ico.png" alt="搜索" id="search" />
					</a>
				</span>
				<span class="mine">
					<a href="./my_space.html" target="_blank">
						<img src="../static/img/my_space_ico.png" alt="我的空间" id="mine" />
					</a>
				</span>
			</div>
		</header>

		<nav>
			<a href="./information.html">班级信息</a>
			<a href="./resource.html">班级资源</a>
			<a href="./forum.html">班级论坛</a>
			<a href="./activity.html">班级活动</a>
			<div id="now"><a href="./album.html">班级相册</a></div>
			<a href="./develop.html">关于我们</a>
		</nav>

		<main>
			<h1>开发文件</h1>
			<div class="card" id="file">
				<div class="folder">
					<a href="#"><img class="ico folder" src="../static/img/folder_ico.png">
						<span>static</span></a>
				</div>
				<hr>
				<div class="folder">
					<a href="#"><img class="ico folder" src="../static/img/folder_ico.png">
						<span>templates</span></a>
				</div>
				<hr>
				<div class="file">
					<a href="#"><img class="ico file" src="../static/img/file_ico.png">
						<span>.gitgnore</span></a>
				</div>
				<hr>
				<div class="file">
					<a href="#"><img class="ico file" src="../static/img/file_ico.png">
						<span>index.html</span></a>
				</div>
				<hr>
				<div class="file">
					<a href="#"><img class="ico file" src="../static/img/file_ico.png">
						<span>readme.md</span></a>
				</div>
			</div>
			<h1>使用教程</h1>
			<a href="../static/pdf/usage.pdf">
				<img src="../static/img/pdf_ico.png">
			</a>
			<h1>意见反馈</h1>
			<form>
				<textarea placeholder="请在此描述本网站需要改进的意见……"></textarea>
				<span><button id="submit">提       交</button></span>
			</form>
			<h1>更新日志</h1>
			<div class="card update 1-0-1">
				<h2 style="display: inline">v-</h2>
				<h1 style="display: inline">1.0.1</h1>
				<p>· 增加了未知bug</p>
			</div>
			<div class="card update 1-0-2">
				<h2 style="display: inline">v-</h2>
				<h1 style="display: inline">1.0.0</h1>
				<p>· 网站发布</p>
			</div>
		</main>

		<footer>
			<div class="copyright">
				<p class="footer_copyright"><a href="https://minecraft.net/" target="_blank">© </a><a
						href="../index.html" class="a">人大附通·北京学校 初一4班 班级网站</a></p>
				<p class="footer_copyright"><b>制作团队：</b><a href="./templates/develop.html"
						target="_blank">4班班级圈网站开发组</a></p>
				<p class="footer_copyright"><b>网站贡献者：</b>尹怀杰，贠涵，闫嘉桐，王岩杉，袁立之，董雨宸</p>
			</div>
		</footer>

	</body>
</html>