<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>班级圈-班级信息</title>
        <link rel="stylesheet" href="../static/css/style2.css">
    </head>
    <body>
        <header>
            <a href="../index.html" id="logo">
                <div class="logo_img">
                    <img src="../static/img/logo.png" id="logo_img" alt="logo" />
                </div>
                <div id="logo_text">
                    <div id="logo_text_ch">
                        &nbsp;人大附通·北京学校 2023级四班 班级圈
                    </div>
                    <div id="logo_text_en">
                        &nbsp;&nbsp;Grade 2023 Class 4 - Class Net
                    </div>
                </div>
            </a>
            <div class="header_buttons">
                <span class="new">
                    <a href="./new_discuss.html" target="_blank">
                        <img src="../static/img/new_discuss_ico.png" alt="新建文章" id="new" />
                    </a>
                </span>
                <span class="search">
                    <a href="./search_discuss.html" target="_blank">
                        <img src="../static/img/search_discuss_ico.png" alt="搜索" id="search" />
                    </a>
                </span>
                <span class="mine">
                    <a href="./my_space.html" target="_blank">
                        <img src="../static/img/my_space_ico.png" alt="我的空间" id="mine" />
                    </a>
                </span>
            </div>
        </header>

        <nav>
            <div id="now"><a href="./information.html">班级信息</a></div>
            <a href="./resource.html">班级资源</a>
            <a href="./forum.html">班级论坛</a>
            <a href="./activity.html">班级活动</a>
            <a href="./album.html">班级相册</a>
            <a href="./develop.html">关于我们</a>
        </nav>
        <section>
            <div class="sidebar">
                <h2>菜单</h2>
                <div id="focus"><a href="#">班级守则</a></div>
                <a href="#">卫生制度</a>
                <a href="#">班级成员列表</a>
                <a href="#">课代表职责</a>
                <a href="#">课程表</a>
            </div>

            <div class="main-content">
                <div style="padding: 10px 16px 329px;">
                    <div class="cl-preview-section">
                        <h1>2023 级 4 班班级规定</h1>
                    </div>
                    <div class="cl-preview-section">
                        <h2>一、品行</h2>
                    </div>
                    <div class="cl-preview-section">
                        <ol>
                            <li><b>尊重老师：</b>感恩、理解、尊重老师，不诋毁、嘲笑老师；只可纠正语文老师的读音，师生互动分清场合。</li>
                            <li><b>关心同学：</b>包容同学的小错误，不随意嘲笑、起哄；留给同学思考时间，即使提前学过也不随意抢答；珍惜友谊，在朋友需要时伸出援手，有付出才有收获。</li>
                            <li><b>自我修复：</b>内心强大，不过分在意他人的眼光，不给自己过多压力，勇于提出不同意见。</li>
                            <li><b>语言规范：</b>养成良好语言习惯，不讲不文明用语；注意有时要言辞委婉，不能过激。</li>
                        </ol>
                    </div>
                    <div class="cl-preview-section">
                        <h2>二、学习</h2>
                    </div>
                    <div class="cl-preview-section">
                        <ol>
                            <li><b>积极进取：</b>有颗奋进的心，努力学习，保持强烈的学习欲望、学习兴趣、学习劲头。</li>
                            <li><b>善于合作：</b>分享自己的学习经验与学习感受，不吝啬，互相帮助、启发。</li>
                            <li><b>重视锻炼：</b>爱锻炼、勤锻炼，每天自觉练习体育测试项目；保持对体育课的兴趣，认真对待课上的练习，体育成绩达到 85 及以上；增强自我保护意识，有伤病一定休息，但不能故意偷懒。
                            </li>
                            <li><b>课堂要求：</b>听从老师安排，不随意发言；重视所有学科，摸索适当方法、树立远大目标，保持兴趣、不偏科；积极举手回答问题，营造良好的课堂氛围。</li>
                            <li><b>作业要求：</b>不抄袭，力争在校完成；到校后及时上交作业，保证上交快速、有序。</li>
                            <li><b>考试要求：</b>考出真实水平，不因马虎扣分；努力复习，不留遗憾，认真对待每一场考试。</li>
                        </ol>
                    </div>
                    <div class="cl-preview-section">
                        <h2>三、生活</h2>
                    </div>
                    <div class="cl-preview-section">
                        <ol>
                            <li><b>个人管理：</b>上交手机、电话手表等可能影响学习的电子设备；不追跑打闹，尤其是在狭窄、有棱角的区域内；不随意坐到其他同学的座位上，不传播同学隐私，不叫同学不好的外号。</li>
                            <li><b>公共设施：</b>不随意使用多媒体；不随意在黑板上写字、涂抹。</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <footer>
			<div class="copyright">
				<p class="footer_copyright"><a href="https://minecraft.net/" target="_blank">© </a><a href="../index.html" class="a">人大附通·北京学校 初一4班 班级网站</a></p>
				<p class="footer_copyright"><b>制作团队：</b><a href="./develop.html" target="_blank">4班班级圈网站开发组</a></p>
				<p class="footer_copyright"><b>网站贡献者：</b>尹怀杰，贠涵，闫嘉桐，王岩杉，袁立之，董雨宸</p>
			</div>
        </footer>

    </body>
</html>