<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>班级圈</title>
		<style type="text/css">
			body {
				background-color: aquamarine;
			}
			#logo_img {
				width: 50px;
				height: 50px;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<div class="top">
				<div class="logo">
					<a href="../index.html" target="_blank">
						<div id="logo_img">
							<img src="./static/img/logo.png" alt="logo"/> 
						</div>
						<div id="logo_text">
							<div id="logo_text_ch">
								人大附通·北京学校 2023级四班 班级圈
							</div>
							<div id="logo_text_en">								Grade 2023 Class 4 - Class Net
							</div>
						</div>
					</a>
				</div>
				<div class="fuctional_buttons">
					<div class="new">
						<a href="./templates/new_discuss.html" target="_blank">
							<img src="./static/img/new_discuss_ico.png" alt="新建文章"/>
						</a>
					</div>
					<div class="search">
						<a href="./templates/search_discuss.html" target="_blank">
							<img src="./static/img/search_discuss_ico.png" alt="搜索"/>
						</a>
					</div>
					<div class="mine">
						<a href="./templates/my_space.html" target="_blank">
							<img src="./static/img/my_space_ico.png" alt="我的空间"/>
						</a>
					</div>
				</div>
			</div>
			<div class="nav">
				<ul>
					<li class="information">
						<a href="./templates/information.html" target="_blank">
							<div id="info_text">班级信息</div>
						</a>
					</li>
					<li class="resource">
						<a href="./templates/resource.html" target="_blank">
							<div id="resr_text">班级资源</div>
						</a>
					</li>
					<li class="forum">
						<a href="./templates/forum.html" target="_blank">
							<div id="forum_text">班级论坛</div>
						</a>
					</li>
					<li class="activity">
						<a href="./templates/activity.html" target="_blank">
							<div id="acti_text">班级活动</div>
						</a>
					</li>
					<li class="album">
						<a href="./templates/album.html" target="_blank">
							<div id="album_text">班级相册</div>
						</a>
					</li>
					<li class="develop">
						<a href="./templates/develop.html" target="_blank">
							<div id="devp_text">关于我们</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main">
			
		</div>
		<div class="footer">
			<div class="copyright">
				<p class="footer_copyright"><a href="https://minecraft.net/" target="_blank">© </a><a href="index.html" class="a">人大附通·北京学校 初一4班 班级网站</a></p>
				<p class="footer_copyright">制作团队：元谋网站<a href="./templates/develop.html" target="_blank">开发组</a></p>
				<p class="footer_copyright">网站贡献者：尹怀杰，贠涵，董雨宸，袁立之</p>
			</div>
		</div>
	</body>
</html>
