<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>班级圈-创建文章</title>
		<link rel="stylesheet" href="../static/css/style8.css">
	</head>
	<body>
		<header>
			<div class="card">
				<div class="article_quit">
					<a href="../index.html" target="_blank">
						<img src="../static/img/quit.png" alt="退出" />
					</a>
				</div>
				<div class="back">
					<a href="../index.html">
						<img src="../static/img/back.png">
					</a>
				</div>
				<div class="article_title">
					<input maxlength="100000000" placeholder="请输入文章标题（5~100个字）" class="article_title_input" />
				</div>
				<form class="article_bar">
					<a href="./input.html"><button class="btn_import">导入文件</button></a>
					<button class="btn_save">保存草稿</button>
					<button class="btn_publish">发布</button>
				</form>
			</div>

		</header>


		<main>
			<div class="article_attribute">
				<p> 格式设置
					【加粗、斜体、下划线、颜色、荧光笔、字号、居左中右】
					发布设置
					【标签可多选+发布位置（资源/论坛/活动/相册）+类型选择（文件/文章/短评）】
				</p>
			</div>
			<!-- 懒得写具体的了QAQ -->
			<div class="article_edit">
				<textarea placeholder="请输入文章内容"></textarea>
			</div>


		</main>

		<footer>
			<div class="copyright">
				<p class="footer_copyright"><a href="https://minecraft.net/" target="_blank">© </a><a
						href="../index.html" class="a">人大附通·北京学校 初一4班 班级网站</a></p>
				<p class="footer_copyright"><b>制作团队：</b><a href="./templates/develop.html"
						target="_blank">4班班级圈网站开发组</a></p>
				<p class="footer_copyright"><b>网站贡献者：</b>尹怀杰，贠涵，闫嘉桐，王岩杉，袁立之，董雨宸</p>
			</div>
		</footer>

	</body>
</html>