<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>班级圈-班级资源</title>
		<link rel="stylesheet" href="../static/css/style3.css">
	</head>
	<body>
		<header>
			<a href="../index.html" id="logo">
				<div class="logo_img">
					<img src="../static/img/logo.png" id="logo_img" alt="logo" />
				</div>
				<div id="logo_text">
					<div id="logo_text_ch">
						&nbsp;人大附通·北京学校 2023级四班 班级圈
					</div>
					<div id="logo_text_en">
						&nbsp;&nbsp;Grade 2023 Class 4 - Class Net
					</div>
				</div>
			</a>
			<div class="header_buttons">
				<span class="new">
					<a href="./new_discuss.html" target="_blank">
						<img src="../static/img/new_discuss_ico.png" alt="新建文章" id="new" />
					</a>
				</span>
				<span class="search">
					<a href="./search_discuss.html" target="_blank">
						<img src="../static/img/search_discuss_ico.png" alt="搜索" id="search" />
					</a>
				</span>
				<span class="mine">
					<a href="./my_space.html" target="_blank">
						<img src="../static/img/my_space_ico.png" alt="我的空间" id="mine" />
					</a>
				</span>
			</div>
		</header>

		<nav>
			<div id="now"><a href="./information.html">班级信息</a></div>
			<a href="./resource.html">班级资源</a>
			<a href="./forum.html">班级论坛</a>
			<a href="./activity.html">班级活动</a>
			<a href="./album.html">班级相册</a>
			<a href="./develop.html">关于我们</a>
		</nav>

		<main>
			<section class="resource-search">
				<input type="text" placeholder="搜索资源......" id="resource_search">
				<button id="resource_submit">搜&nbsp;&nbsp;索</button>
			</section>

			<section class="resource-content">
				<div class="resource-options">
					<form id="check_box">
						<div><input type="checkbox"><span>复杂搜索</span></div>
						<div><span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索分区:</b></span></div>
						<div><input type="checkbox"/><span>语文</span></div>
						<div><input type="checkbox"/><span>数学</span></div>
						<div><input type="checkbox"/><span>英语</span></div>
						<div><input type="checkbox"/><span>道德与法治</span></div>
						<div><input type="checkbox"/><span>地理</span></div>
						<div><input type="checkbox"/><span>生物学</span></div>
						<div><input type="checkbox"/><span>历史</span></div>
						<div><input type="checkbox"/><span>物理</span></div>
						<div><input type="checkbox"/><span>化学</span></div>
						<div><input type="checkbox"/><span>其他</span></div>
						<div><input type="checkbox"/><span>全选</span></div>
					</form>
					<form id="sort_way">
						<div><span><b>排序方式:</b></span></div>
						<input type="radio" class="sw" name="sw"><span>发布时间（从晚到先）</span>
						<input type="radio" class="sw" name="sw"><span>浏览量（从大到小）</span>
						<input type="radio" class="sw" name="sw"><span>点赞量（从多到少）</span>
					</form>
				</div>
			</section>
			<section class="resource-adfjadfha">
				
				<div class="resource">
					<h1>标题标题标题TitleTitleTitle</h1>
					<div id="info"><p>发布者：昵称 姓名</p><p>发布时间：2023.1.2 18:13:18</p><p>标签：xxx</p><p>类型：文件/文章/短评</p><p>点赞：15</p><p>收藏：5</p></div>
					<p>摘要/介绍</p>
				</div>
				<div class="resource">
					<h1>标题标题标题TitleTitleTitle</h1>
					<div id="info"><p>发布者：昵称 姓名</p><p>发布时间：2023.1.2 18:13:18</p><p>标签：xxx</p><p>类型：文件/文章/短评</p><p>点赞：15</p><p>收藏：5</p></div>
					<p>摘要/介绍</p>
				</div>
				<div class="resource">
					<h1>标题标题标题TitleTitleTitle</h1>
					<div id="info"><p>发布者：昵称 姓名</p><p>发布时间：2023.1.2 18:13:18</p><p>标签：xxx</p><p>类型：文件/文章/短评</p><p>点赞：15</p><p>收藏：5</p></div>
					<p>摘要/介绍</p>
				</div>
				<div class="resource">
					<h1>标题标题标题TitleTitleTitle</h1>
					<div id="info"><p>发布者：昵称 姓名</p><p>发布时间：2023.1.2 18:13:18</p><p>标签：xxx</p><p>类型：文件/文章/短评</p><p>点赞：15</p><p>收藏：5</p></div>
					<p>摘要/介绍</p>
				</div>
				<div class="resource">
					<h1>标题标题标题TitleTitleTitle</h1>
					<div id="info"><p>发布者：昵称 姓名</p><p>发布时间：2023.1.2 18:13:18</p><p>标签：xxx</p><p>类型：文件/文章/短评</p><p>点赞：15</p><p>收藏：5</p></div>
					<p>摘要/介绍</p>
				</div>
			</section>
		</main>

		<footer>
			<div class="copyright">
				<p class="footer_copyright"><a href="https://minecraft.net/" target="_blank">© </a><a href="../index.html" class="a">人大附通·北京学校 初一4班 班级网站</a></p>
				<p class="footer_copyright"><b>制作团队：</b><a href="./develop.html" target="_blank">4班班级圈网站开发组</a></p>
				<p class="footer_copyright"><b>网站贡献者：</b>尹怀杰，贠涵，闫嘉桐，王岩杉，袁立之，董雨宸</p>
			</div>
		</footer>

	</body>
</html>