/* 基础样式重置，确保所有浏览器中的一致性 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: white;
	text-decoration: none;
}

nav img {
	width: 61px;
	height: 60px;
}

/*
#nav {
	position: fixed;
}
*/
.nav_text {
	color: #000000;
	font-size: 20px;
}

#logo_img {
	width: 70px;
	height: 70px;
}

#logo_text {
	float: left;
}

#logo_text_ch {
	font-size: 30px;
}

#logo_text_en {
	font-size: 20px;
	text-align: left;
}

#logo {
	display: flex;
}

.header_buttons img {
	width: 60px;
	height: 60px;
}

header {
	background: rgb(255, 255, 255, 0);
	padding: 10px;
	color: #fff;
	text-align: center;
	display: flex;
}

body {
	font-family: '苹方0', sans-serif;
	background-image: url(../img/background.png);
}

.header_buttons span {
	margin: 0 10px;
}

.header_buttons {
	padding-left: 480px;
	padding-right: 30px;
}

nav ul {
	list-style: none;
	background: rgb(255, 255, 255, 0.5);
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	padding: 5px 10px;
}

nav ul li:hover {
	background: rgb(255, 255, 255, 0.6);
	cursor: pointer;
}

.main-content {
	margin: 20px;
	/*background: url('../img/main_img_1.png') no-repeat center center;*/
	background-size: cover;
	height: 500px;
	/* Adjust as needed */
	position: relative;
}

.main-content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0);
}

.main-content img {
	width: 1000px;
	height: 500px;
	/*opacity: 0.95;
	/* 图片半透明 */
}

.main-content p {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #FFF;
	font-size: 48px;
	width: calc(100% - 425px);
	padding: 5px;
}

aside {
	margin: 20px;
	margin-left: 5px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 550px;
}

.first {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.second {
	display: flex;
}

.third {
	display: flex;
	height: 750px;
}

.forth {
	display: flex;
	height: 600px;
}

.fifth {
	display: flex;
	height: 660px;
}

#hot_post a {
	color: steelblue;
}

#homework {
	margin: 20px;
	margin-left: 35px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 660px;
}

#homework_img {
	height: 850px;
	width: 100%;
}

#bourd {
	margin: 20px;
	margin-left: 35px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 660px;
	font-size: 35px;
}

#history {
	margin: 20px;
	margin-left: 35px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 660px;
	font-size: 35px;
}

#like {
	margin: 20px;
	margin-left: 35px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 660px;
	font-size: 35px;
}

#hot_post {
	margin: 20px;
	margin-left: 35px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 660px;
	font-size: 35px;
}

#hot_resource {
	margin: 20px;
	margin-left: 35px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 660px;
	font-size: 35px;
}

#new_activity {
	margin: 20px;
	margin-left: 35px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 660px;
	font-size: 35px;
}

#new_album {
	margin: 20px;
	margin-left: 35px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	width: 660px;
	font-size: 35px;
}

#bourd p {
	margin-bottom: 20px;
}

.event {
	font-family: "SimSun";
}

h2 {
	font-size: 40px;
	text-align: center;
}

footer {
	margin-top: 20px;
	background-color: rgb(100, 150, 255, 0.3);
	color: white;
	text-align: center;
	padding: 10px;
	height: 200px;
}


/* 响应式设计 */
@media (max-width: 768px) {
	#logo_text {
		display: none;
		/* 在较小的屏幕上不显示logo文字 */
	}

	.header_buttons {
		padding-left: 70px;
		padding-right: 10px;
	}

	.main-content p {
		font-size: 25px;
	}

	.nav_text {
		font-size: 15px;
	}

	.first {
		margin-left: 5px;
		display: flow-root;
	}

	.second {
		margin-left: 5px;
		display: flow-root;
	}

	.third {
		margin-left: 5px;
		display: flow-root;
	}

	.forth {
		margin-left: 5px;
		display: flow-root;
	}

	.fifth {
		margin-left: 5px;
		display: flow-root;
	}
}