body {
	background-image: url(../img/background.png);
	font-family: 'Arial', sans-serif;
	margin: 0;
}

/*
header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #B3D4FC;
	color: white;
}
*/
#logo_img {
	width: 70px;
	height: 70px;
}

#logo_text {
	color: white;
	float: left;
}

#logo_text_ch {
	font-size: 30px;
}

#logo_text_en {
	font-size: 20px;
	text-align: left;
}

#logo {
	display: flex;
}

.header_buttons img {
	width: 60px;
	height: 60px;
}

header {
	background: rgb(255, 255, 255, 0);
	padding: 10px;
	color: #fff;
	text-align: center;
	display: flex;
}


.header_buttons span {
	margin: 0 10px;
}

.header_buttons {
	padding-left: 480px;
	padding-right: 30px;
}

nav {
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: space-between;
	padding: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav a {
	margin-left: 30px;
	margin-right: 30px;
	color: #000;
	text-decoration: none;
	font-size: 20px;
}

nav a:hover {
	color: blue;
}

/*
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #99C2FF;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
*/
main {
	margin: 20px;
	padding: 10px;
	/*background-color: #fff;*/
	backgorund-color: rgb(255, 255, 255, 0);
	
}

.tip {
	background-color: red;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
}

article {
	/*border: 1px solid #D9EFFF;*/
	margin-bottom: 15px;
	padding: 10px;
	background-color: rgb(255, 255, 255, 0.5);
	border-radius: 10px;
}
/*
#now {
	background-color: rgb(255, 255, 255, 0.5);
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}
*/
article h2 {
	color: #333;
}

article p {
	color: #666;
}

.info {
	display: flex;
	/*justify-content: space-between;
	align-items: center;*/
	font-size: 1em;
}

.info span {
	margin-right: 20px;
}



footer {
	margin-top: 20px;
	background-color: rgb(100, 150, 255, 0.3);
	color: white;
	text-align: center;
	padding: 10px;
	height: 200px;
}

a {
	color: white;
	text-decoration: none;
}

/* 调整样式，以匹配图片中的具体设计 */
@media (max-width: 768px) {
	#logo_text {
		display: none;
		/* 在较小的屏幕上不显示logo文字 */
	}
}