body {
	background-image: url(../img/background.png);
	font-family: Arial, sans-serif;
	margin: 0;
}

#logo_img {
	width: 70px;
	height: 70px;
}

#logo_text {
	color: white;
	float: left;
}

#logo_text_ch {
	font-size: 30px;
}

#logo_text_en {
	font-size: 20px;
	text-align: left;
}

#logo {
	display: flex;
}

.header_buttons img {
	width: 60px;
	height: 60px;
}

header {
	background: rgb(255, 255, 255, 0);
	padding: 10px;
	color: #fff;
	text-align: center;
	display: flex;
}


.header_buttons span {
	margin: 0 10px;
}

.header_buttons {
	padding-left: 480px;
	padding-right: 30px;
}

nav {
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: space-between;
	padding: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav a {
	margin-left: 30px;
	margin-right: 30px;
	color: #000;
	text-decoration: none;
	font-size: 20px;
}

nav a:hover {
	color: blue;
}

/*
.header-content, footer {
  background-color: #B3D4FC;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #99C2FF;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
*/
main {
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
}

.card {
	margin: 10px;
	background-color: rgb(255, 255, 255, 0.5);
	border-radius: 10px;
	border: 2px solid #888;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#file {
	height: 305px;
	width: 1380px;
}

#file img {
	margin-top: 10px;
	margin-left: 10px;
	height: 35px;
}

h1 {
	margin: 5px;
	display: block;
}

.update {
	padding: 15px;
	width: 1365px;
}

textarea {
	font-size: 20px;
	display: block;
	margin: 10px;
	width: 1380px;
	height: 400px;
	resize: none;
}

form span {
	display: flex;
	justify-content: center;
	align-items: center;
}

#submit {
	width: 200px;
	height: 50px;
	font-size: 25px;
	color: white;
	background-color: rgb(48, 192, 180);
	border-radius: 5px;
	border-color: rgb(255, 255, 255, 0);
}

#submit:hover {
	background-color: mediumaquamarine;
}

#submit:active {
	background-color: rgb(173, 192, 232);
	color: white;
	border-color: rgb(0, 0, 0);
}


a {
	color: white;
	text-decoration: none;
}

hr {
	margin-bottom: 0px;
}

#file span {
	position: relative;
	color: rgb(127, 127, 127);
	font-size: 25px;
	top: -6.5px;
	left: 2px;
}

footer {
	margin-top: 20px;
	background-color: rgb(100, 150, 255, 0.3);
	color: white;
	text-align: center;
	padding: 10px;
	height: 200px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
	#logo_text {
		display: none;
		/* 在较小的屏幕上不显示logo文字 */
	}

	.card {
		flex: 1 1 100%;
	}
}