<!-- /discuss/1/tmp/ -->
<!DOCTYPE html>
<html lang = "zh">
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		
		<title>{{ title }} : 班级圈计划 - ClassNet</title>
		
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->
<link rel="stylesheet" href="../../../static/bootstrap-4.6.2/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="../../../static/css/std.css">
		<style>
			.infolink:link
			{
				color: black;
				text-decoration: none;
			}
			.infolink:visited
			{
				color: black;
				text-decoration: none;
			}
			.infolink:hover
			{
				color: black;
				text-decoration: none;
			}
			.infolink:active
			{
				color: black;
				text-decoration: none;
			}

			.buttons
			{
				width: 100px;
				color: black;
				height: 35px;
				border-radius: 15px;
				margin: 5px;
			}

			#accept
			{
				background-color: white;
			}
			#reject
			{
				background-color: white;
			}
			#delete
			{
				background-color: rgba(255, 20, 20, 1);
			}
		</style>
		
	</head>

	<body>
	<!-- 顶部信息 -->
	<header>
		<a href="/" id = "head_logo_text">
				<div>
					<img src="../../../static/img/logo.png" alt="logo" id = "logo_img" />
				</div>
				<div>
					<div id = "logo_text_h">
						&nbsp; 人大附通·北京学校 2023级四班 班级圈
					</div>
					<div id = "logo_text_l">
						&nbsp;&nbsp; Grade 2023 Class 4 - Class Net
					</div>
				</div>
			</a>
			{% if session['login'] %}
			<div id = "header_buttons">
				<a href="/discuss/new/" target="_blank">
					<img src="../../../static/img/new_ico.png" alt="新建" class = "header_button_img" />
				</a>
				<a href="/discuss/list/" target="_blank">
					<img src="../../../static/img/search_ico.png" alt="搜索" class = "header_button_img" />
				</a>
				<a href="/user/me/" target="_blank">
					<img src="../../../static/img/person_ico.png" alt="个人" class = "header_button_img" />
				</a>
				{% if session['admin'] %}
				<a href="/setting/" target="_blank">
					<img src="../../../static/img/setting_ico.png" alt="设置" class = "header_button_img" />
				</a>
				{% endif %}
			</div>
			{% else %}
			<p id = "header_buttons"><h3><a href = "/login/">登录</a></h3></p>
			{% endif %}
		</header>
		<nav id = "navbar" class = "nav nav-pills nav-justified">
			<div class = "nav-link">
				<a class = "nav_link" href="/information/" target="_blank">
					<div class = "nav_text">班级信息</div>
				</a>
			</div>
			<div class = "nav-link">
				<a class = "nav_link" href="/resource/" target="_blank">
					<div class = "nav_text">班级资源</div>
				</a>
			</div>
			<div class = "nav-link">
				<a class = "nav_link" href="/forum/" target="_blank">
					<div class = "nav_text">班级论坛</div>
				</a>
			</div>
			<div class = "nav-link">
				<a class = "nav_link" href="/activity/" target="_blank">
					<div class = "nav_text">班级活动</div>
				</a>
			</div>
			<div class = "nav-link">
				<a class = "nav_link" href="/album/" target="_blank">
					<div class = "nav_text">班级相册</div>
				</a>
			</div>
			<div class = "nav-link">
				<a class = "nav_link" href="/about/" target="_blank">
					<div class = "nav_text">帮助中心</div>
				</a>
			</div>
		</nav>
		<section class = "pack rdiv main-content" style = "padding: 10px;">
		<h1 style = "text-align: center;"> {{ title }} </h1>
		<div style = "margin-left: auto;	margin-right: 0px;	padding-right: 30px;  text-align: right;">
		<p id = "info">
		<div id = "pub_infos">
			<a class = "infolink" href = "../../../user/{{ pub_id }}" target = "_blank">
			<img src = "../../../static/user_pic/{{ pub_pic }}" style = "height: 15px; width: 15px;" />
			{{ pub_name }}
			<!-- 奖章绶带badge[未来] -->
			</a>
		</div>
		<div id = "content_infos" style = "color: grey;">
			父讨论 / 前置讨论：{% if father_id != 0 %}
			<a class = "infolink" href = "../../{{ father_id }}/" target = "_blank">{{ father_name }}</a>
			{% else %}
			无父讨论[当前讨论为顶级讨论]
			{% endif %}
			<br />
			发布时间：{{ pub_time }}
			主题：{{ subjects }}
			可见人群：{% if csee == 'all' %} 全体 {% else %} 共{{ csee_cnt }}个<a class = "infolink" href = "./csee/">查看全部</a>{% endif %}
			<br />
			置顶：{% if toped %}
			<strong><i style = "color: red;">是</i></strong>
			{% else %}
			<i>否</i>
			{% endif %}
		</div>
		</p>
		</div>
		<p id = "content">
			{{ content | safe }}
		</p>
		
		
		</section>
		<section class = "pack rdiv" style = "padding: 10px;">
			<p>请注意，本贴为临时帖子，请等待审核或作者修改。期间只有作者与管理员可以查看！</p>
		</section>
		{% if session['admin'] %}
		<section class = "pack rdiv" style = "padding: 10px;">
			<p>管理员审核界面</p>
			<br>
			<p>ps:以下三个按钮由于某些原因不可使用。如果您审核通过本篇帖子，请将后面链接复制到浏览器网址栏中已有网址栏的<b>后侧</b>：handle/accept/；如果想驳回本篇，请将后面链接复制到浏览器网址栏中已有网址栏的<b>后侧</b>：handle/reject/；如果想删除本篇，请将后面链接复制到浏览器网址栏中已有网址栏的<b>后侧</b>：handle/delete/，感谢理解与配合！我们将尽快修复此bug，以优化您的审核体验！谢谢！</p>
			<button type = "btn" id = "accept" class = "buttons" onclick="accept();"> 通过 </button>
			<button type = "btn" id = "reject" class = "buttons" onclick="reject();"> 驳回 </button>
			<button type = "btn" id = "delete" class = "buttons" onclick="delete();"> 删除 </button>
			<!-- 通过 / 未通过 / 删除 -->
		</section>
		{% endif %}
		<footer>
			<div>
				<p class="footer_data"><b>©人大附通·北京学校 初一4班 班级网站</b></p>
				<p class="footer_data"><b>制作团队：</b>4班班级圈网站开发组</p>
				<p class="footer_data"><b>网站主要设计者：</b>贠涵，闫嘉桐，王岩杉，袁立之，董雨宸，尹怀杰</p>
				<p class="footer_data"><b>内容责任编辑：</b>贠涵，闫嘉桐</p>
				<p class="footer_data"><a href = "#">查看更多</a></p>
			</div>
		</footer>
		

<!-- Bookstrap -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="../../../static/bootstrap-4.6.2/js/bootstrap.min.js"></script>

		<script src = "../../../static/js/refresh_color.js"></script>
		<script src = "../../../static/js/checker.js"></script>
		<script src = "../../../static/js/send.js"></script>
	</body>
</html>